body {
	 margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
span {
	font-size: 2em;
}
#win {
	height: 25%;
	width: 25%;
	padding-right: 2em;
	padding-left: 2em;
}
#LinkBar {
	padding-right: 1em;
	padding-left: 1em;
}
div.container{
	width: 100%;
	border: 10px Dark Grey;
}
.header{
	padding: 1em;
	color: White;
	background-color: Black;
	clear: left;
	text-align: center;
	font-size: 20px;
}
.footer{
	padding: 1em;
	color: White;
	background-color: Black;
	clear: left;
	text-align: center;
	float: bottom;
}
.links{
	overflow: auto;
	text-align: center;
	max-height: 300px;
	padding: 1em;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: White;
	color: Red;
	float: top;
}
.MainSection{
    padding: 1em;
	text-align: center;
}
a:link {
    color: Black;
}
a:visited {
    color: black;
}
a:hover {
    color: hotpink;
}
a:active {
    color: #FFA31A;
}
body{
background-color: #FFFFFF
}
